<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title class=headings>Makers BnB</title>
    <link href="bnb_styles.css" rel="stylesheet">
  </head>

  <body>
    <h1 class=headings>Welcome to MakersBnB!</h1>
    <form  action="/sign_up" method="get">
      <input type='submit' value="Sign Up">
    </form>
    <form action="/sign_in" method="get">
      <input  type='submit' value="Sign In">
    </form>

    <p class=subheadings>List of all spaces</p>
    <!-- <div class=list> -->
    <ul>
    <%@spaces.each do |space| %>
    <li class="space">
        <%=space['space_name']%>:
        £<%=space['price']%><br>
        <div id=descriptions>
        <%=space['description']%>
        </div>
    </li><br>
    <% end %>
    </ul>
  </body>
</html>
