<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>

  <body>
    <h1>Welcome to MakersBnB!</h1>

    List of all spaces
    <ul>
    <%@spaces.each do |space| %>
    <li class="space">
        <%=space['space_name']%>
        <%=space['description']%>
        <%=space['price']%>
    </li>
    <% end %>
    </ul>

    <!-- #create space - redirects to create space view %> -->
    <form action="/sign_up" method="get">
        <input type='submit' value="Sign Up">
    </form>

  </body>
</html>
