<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"
    <title class=headings></title>
    <link href="bnb_styles.css" rel="stylesheet">
  </head>

  <body>
    <h1 class=headings>Welcome to MakersBnB!</h1>

    <p>List of all spaces</p>
    <ul>
    <%@spaces.each do |space| %>
    <li class="space">
        <%=space['space_name']%>
        <%=space['description']%>
        <%=space['price']%>
    </li>
    <% end %>
    </ul>

    <!-- #create space - redirects to create space view %> -->
    <form action="/sign_up" method="get">
        <input type='submit' value="Sign Up">
    </form>

    <form action="/sign_in" method="get">
        <input type='submit' value="Sign In">
    </form>

  </body>
</html>
