<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>

  <body>

    <div class="dropdown">
      <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/user">Home</a>
          <a href="/my_bookings/:user_id">Manage Bookings</a>
          <a href="/my_spaces">Manage Spaces</a>
          <a href="/sign_out">Sign Out</a>
        </div>
    </div>

    <p> This is the space you selected: </p>
    <%= @space.name %>
    <%= @space.description %>
    <%= @space.price %>

    <form action="/book_space/<%=@space.space_id%>" method="post">
        <label for="email"> Email </label>
        <input type='text' name="email" placeholder="Email">

        <label for="password"> Password </label>
        <input type='text' name="password" placeholder="Password">

        <input type="submit" value="Confirm Booking">
    </form>
  </body>
</html>
