@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  color: black;
  background-image: url('london2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.headings {
  font-size: 36px;
  position: relative;
  text-align: center;
}

.subheadings {
  font-size: 28px;
  text-align: center;
}

ul li {
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  opacity: 60%;
  border-radius: 4%;
  padding: 5px;
  list-style: none;
}
/* 
input [type=submit] {
  background-color: #4CAF50; 
  border: none;  color: white;  
  padding: 15px 32px;  
  text-align: center;  
  text-decoration: none;  
  display: inline-block;   
  font-size: 16px; 
} */

.button:hover { 
  background-color: #4CAF50;
  color: white; 
}

label {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  width: 140px;
  text-align: right;
}

.space {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

#descriptions {
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}

.description {
  width: 200px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.content {
  max-width: 500px;
  margin: auto;
}

.dropbtn {
  text-align: center;
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 14px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: orange;}
