list of my spaces - link to create_space - link to manage_spaces - link to user
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>

  <body>

    <div class="dropdown">
      <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/user">Home</a>
          <a href="/my_bookings/:user_id">Manage Bookings</a>
          <a href="/sign_out">Sign Out</a>
        </div>
    </div>

    (list of my spaces - link to create_space - link to manage_spaces - link to user ?)
  </body>
</html>
