<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>
  <body>
    <h2> Please Sign In </h2>
    <form action='/sign_in' method='post'>
      <input type='text' name='email' placeholder="Email">
      <input type='text' name='password' placeholder="Password">
      <input type='submit' name='sign_in' value='Sign In'>
    </form>
  </body>
</html>
