(list of my spaces with booking requests and accept/decline options)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Makers BnB</title>
  </head>
  <body>

    <div class="dropdown">
      <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/user">Home</a>
          <a href="/my_bookings/:user_id">Manage Bookings</a>
          <a href="/my_spaces">Manage Spaces</a>
          <a href="/sign_out">Sign Out</a>
        </div>
    </div>

    (list of my spaces with booking requests and accept/decline options)

  </body>
</html>
